.mainHeading{
  font-family: "Grechen Fuemen", serif;
  font-size: 48px !important;
  font-weight: 700 !important;
  margin-bottom: 1rem !important;
  color: #000;
}
.heading{
  font-family: "Grechen Fuemen", serif;
  font-size: 28px !important;
  font-weight: 700 !important;
  margin-bottom: 1.5rem !important;
  color: #000;
}

@keyframes scrollInfinite {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .scrolling {
    animation: scrollInfinite 25s linear infinite; /* Adjust speed */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }